*
{
  margin: 0;
  padding: 0;
}

.derivative
{
  background-color:rgb(141, 141, 141);
  height: 50vh;
}

.derivative-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}